.fa-user-circle-o{
    margin-top: 12px !important;
    margin-left: 10px;
}

.nav-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: large;
}

.navbar-expand-lg{
    background-color: white !important;
}

.d-none{
    font-size: large !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    margin-bottom: 450px ;
    margin-right: 450px;
    
}

.aa{
    font-size: xx-large !important;
    color: oldlace;
}

.container{
    margin-top: 30px !important;
    background-color: #000080;
    color: white;
  
}

.nav-link{
    color: #000080 !important;
}


.col-sm{
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.col{
    margin-left: 0px !important;
}

.bl{
    color: black;
}

.last{
    background-color: navy;
    color: whitesmoke;
    max-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-fluid{
    background-color: navy;
    color: oldlace;
    padding-left: 20px !important;
    padding-right: 20px !important;
  
}

.alert-secondary{
    max-width: 500px;
    min-width: 300px;
}

/* .alert-light{
    max-width: 500px  !important;
    min-width: 20px !important;
} */
.col-sm{
    padding-left: 50px;
    
}

.sim{
    background-color: skyblue;
    color: whitesmoke;
    margin-top: 30px;
    padding-top: 20px;
    
}

.sim > a{
    color: navy;
    font-weight: bold;
    font-size: x-large !important;
    padding-top: 30px !important;
}

.pp{
    
    padding-top: 50px;
}

.col-sm > p{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.sec{

    background-color: teal;
    color: whitesmoke;
    padding-top: 30PX;
    padding-bottom: 60px;
    margin-top: 50px;
}

.sec > a{
    color: whitesmoke;
}
.container-lg {
    color: navy;
    text-align: center;

}

.col-sm> h1{
    padding-top: 50px;
    padding-bottom: 10px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
.centered > p{
    color: oldlace !important;
}  

.col-sm > h2{
    align-content: center !important;
    margin-top: 40px;
    color: purple;
}
.white{
    color: aliceblue;
}

.inline{
    display: flex;
}
.one{
    justify-content: left !important;
   text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.img-fluid{
    align-items: center;
}
